{% extends "base.html" %}
{% load i18n static humanize avatar_tags submission_tags active %}

{% block title %}{{ profile.user.username }} | Musetic{% endblock %}

{% block headersecondary %}
    <div class="header-secondary fixed">
        <span class="category-text">Submissions</span>
        <ul class="submission-filter-group">
			<li><a class="filter-button {% ifactive 'user_profile' username=profile.user.username %}active{% endifactive %}" href="{% url 'user_profile' username=profile.user.username %}">New</a></li>
			<li><a class="filter-button {% ifactive 'user_profile_top' username=profile.user.username %}active{% endifactive %}" href="{% url 'user_profile_top' username=profile.user.username %}">Top</a></li>
		</ul>
    </div>
{% endblock %}

{% block sidebar %}
<div class="sidebar pushy-left">
    <ul class="categories">
        <li><a href="{% url 'category' slug='art' %}" data-toggle="tooltip" data-placement="bottom" title="Art"><i class="fa fa-paint-brush"></i></a></li>
        <li><a href="{% url 'category' slug='design' %}" data-toggle="tooltip" data-placement="bottom" title="Design"><i class="fa fa-desktop"></i></a></li>
        <li><a href="{% url 'category' slug='imagery' %}" data-toggle="tooltip" data-placement="bottom" title="Imagery"><i class="fa fa-camera"></i></a></li>
        <li><a href="{% url 'category' slug='sound' %}" data-toggle="tooltip" data-placement="bottom" title="Sound"><i class="fa fa-headphones"></i></a></li>
        <li><a href="{% url 'category' slug='video' %}" data-toggle="tooltip" data-placement="bottom" title="Video"><i class="fa fa-video-camera"></i></a></li>
        <li><a href="{% url 'category' slug='writing' %}" data-toggle="tooltip" data-placement="bottom" title="Writing"><i class="fa fa-pencil"></i></a></li>
    </ul>

    <div class="profile-info">
        <div class="profile-pic-wrapper">
            <img src="{% avatar_url profile.user.username 200 %}"/>
        </div>

        <div class="profile-score-wrap">
            <div class="submission-score" title="{% if profile.score == 1 %}{{ profile.score }} Creator point{% else %}{{ profile.score }} Creator points{% endif %}">{{ profile.score }}
                <div class="submission-score-desc">Creator {% if profile.score == 1 %}point{% else %}points{% endif %}</div></div>
            <div class="discussion-score" title="{% if profile.discussion_score == 1 %}{{ profile.discussion_score }} Comment point{% else %}{{ profile.discussion_score }} Comment points{% endif %}">{{ profile.discussion_score }}
                <div class="discussion-score-desc">Comment {% if profile.discussion_score == 1 %}point{% else %}points{% endif %}</div></div>
        </div>

        <div class="profile-username">{{ profile.user.username }}</div>
        <div class="profile-name">{{ profile.user.first_name }} {{ profile.user.last_name }}</div>
        {% if profile.description %}
        <div class="profile-description">{{ profile.description }}</div>
        {% endif %}

    </div>

    <div class="footer">
    	<div class="footer-links">
			<a href="{% url 'about' %}">About&nbsp;</a>
            <a href="http://blog.musetic.com">Blog&nbsp;</a>
			<a href="{% url 'terms_of_use' %}">Terms&nbsp;</a>
			<a href="{% url 'privacy_policy' %}">Privacy&nbsp;</a>
		</div>
    	<div class="copy left">
			&copy; 2015 Musetic
		</div>
    </div>
</div>

{% endblock %}

{% block content %}
	<div class="submissions-list submissions-profile">
		<ul class="hexagon clearfix">
			{% for submission in submissions %}
				<li class="submissions-item">

					<div class="submissions-th">
						{% if submission.thumbnail %}
							{% submission_image submission.url 500 %}
						{% endif %}
					</div>
					<div class="submissions-overlay"></div>
					<a class="submissions-title-area" rel="follow" href="{{ submission.url }}" target=_blank>
						{{ submission.title }}
					</a>
					{% if submission.submission_type == 'art' %}
						<a class="submissions-category art"
						   href="{% url 'category' slug=submission.submission_type %}" title="Art"><i
								class="fa fa-paint-brush"></i></a>
					{% elif submission.submission_type == 'design' %}
						<a class="submissions-category art"
						   href="{% url 'category' slug=submission.submission_type %}"><i
								class="fa fa-desktop"></i></a>
					{% elif submission.submission_type == 'imagery' %}
						<a class="submissions-category art"
						   href="{% url 'category' slug=submission.submission_type %}"><i
								class="fa fa-camera"></i></a>
					{% elif submission.submission_type == 'sound' %}
						<a class="submissions-category sound"
						   href="{% url 'category' slug=submission.submission_type %}"><i
								class="fa fa-headphones"></i></a>
					{% elif submission.submission_type == 'video' %}
						<a class="submissions-category art"
						   href="{% url 'category' slug=submission.submission_type %}"><i
								class="fa fa-video-camera"></i></a>
					{% elif submission.submission_type == 'writing' %}
						<a class="submissions-category art"
						   href="{% url 'category' slug=submission.submission_type %}"><i
								class="fa fa-pencil"></i></a>
					{% endif %}

					<form method="post" action="{% url 'vote' %}" class="vote-form">
                        {% csrf_token %}
                        <input type="hidden" id="id_submission" name="submission" class="hidden_id"
                               value="{{ submission.id }}"/>
                        <input type="hidden" id="id_voter" name="voter" class="hidden_id"
                               value="{{ user.id }}"/>
                        {% if not user.is_authenticated %}
                            <button class="upvote-button vote-disabled" title="Login/Register to vote"><i
                                    class="fa fa-2x fa-angle-up"></i></button>
                            <div class="num-votes vote-disabled">
                                {{ submission.votes }}
                            </div>
                        {% elif submission.id not in voted %}
                            <button class="upvote-button unvoted"><i class="fa fa-2x fa-angle-up"></i></button>
                            <div class="num-votes unvoted">
                                {{ submission.votes }}
                            </div>
                        {% else %}
                            <button class="upvote-button voted"><i class="fa fa-2x fa-angle-up"></i></button>
                            <div class="num-votes voted">
                                {{ submission.votes }}
                            </div>
                        {% endif %}
                    </form>

					<div class="submissions-content">

                            <div class="submissions-time submissions-time-profile">{{ submission.date_submitted|naturalday }}</div>

                            <a class="submissions-more submissions-more-profile" href="{% url 'submission_detail' slug=submission.submission_type uuid=submission.uuid %}"><i class="fa fa-lg fa-comments-o"></i>&nbsp;&nbsp;{{ submission.get_comment_count }}</a>
						</div>
				</li>
			{% empty %}
				{# @todo Create something better than this here #}
				<div class="nothing-here">
					{% if user.username == profile.user.username %}
						<p>Submit your first work</p>
					{% elif profile.user.creator.is_creator %}
                        <p>{{ profile.user.username }} hasn't submitted anything... yet</p>
                    {% else %}
						<p>{{ profile.user.username }} is not a Creator... yet</p>
					{% endif %}
				</div>
			{% endfor %}
		</ul>
        {% if submissions.paginator.num_pages > 1 %}
		<div class="pagination">
            <span class="step-links">
                {% if submissions.has_previous %}
                    <a class="prev button" href="?page={{ submissions.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    {{ submissions.number }}
                </span>

                {% if submissions.has_next %}
                    <a class="next button" href="?page={{ submissions.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'musetic/js/submissions.js' %}"></script>
{% endblock %}