{% extends "base_full_width.html" %}
{% load i18n static %}

{% block title %}Change Password | Musetic{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'musetic/css/auth.css' %}">
{% endblock %}
{% block body %}
    <body class="auth-page">{% endblock %}
{% block content %}
    <div class="login password-reset-form">
        {% if validlink %}
            <h4>{% trans "Change Password" %}</h4>
            <form id="password_change_form" method="post" action=".">
                {% csrf_token %}
                <input id="id_new_password1" name="new_password1" type="password" placeholder="New Password"/>
                <input id="id_new_password2" name="new_password2" type="password" placeholder="New Password (again)"/>

                <input type="submit" id="submit" class="button success" value="{% trans 'Save' %}"/>
            </form>

        {% else %}

            <h4>{% trans "We're sorry. The password reset failed" %}</h4>
            <p>{% trans "Either you stumbled upon this page by accident, or we messed up." %}</p>
            <h4>Try Again</h4>
            <a href="{% url 'auth_password_reset' %}" class="password-reset-retry">{% trans "Reset" %}</a>

        {% endif %}
    </div>

{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function () {
            $('#submit').one('click', function () {
                $('#password_change_form').validate({
                    rules: {
                        new_password1: {
                            required: true,
                            minlength: 6
                        },
                        new_password2: {
                            required: true,
                            minlength: 6,
                            equalTo: '#id_new_password1'
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
