{% extends "base_full_width.html" %}{% load static i18n crispy_forms_tags %}

{% block title %}Register | Musetic{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'musetic/css/auth.css' %}?id=1">
{% endblock %}
{% block body %}<body class="auth-page">{% endblock %}
{% block header %}{% endblock %}
{% block content %}

    <div class="register">
        <a href="{% url 'index' %}"><img class="musetic-logo" src="{% static 'musetic/img/hexagon-black-logo-100.png' %}"/></a>

        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="button button-facebook"><i class="fa fa-lg fa-facebook-square"></i>&nbsp;Login with Facebook</a>
{#    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}" class="button button-google"><i class="fa fa-lg fa-google-plus-square"></i>&nbsp;Login with Google</a>#}
    <div class="or-login">OR</div>
        <div class="register-wrap">

            <form id="registration_form" action="{% url 'registration_register' %}" method="post">
                {% csrf_token %}
                <div class="register-fields">
                    <input class="textinput textInput" id="id_username" maxlength="20" name="username"
                           placeholder="Username" type="text"/>

                    <input class="emailinput" id="id_email" name="email" placeholder="Email" type="email"/>

                    <input class="textinput textInput" id="id_password1" name="password1" placeholder="Password"
                           type="password"/>

                    <input class="textinput textInput" id="id_password2" name="password2" placeholder="Password (again)"
                           type="password"/>
                </div>
                <p class="terms">By registering you agree to the <a href="{% url 'terms_of_use' %}">Terms of Use</a></p>
                <input type="submit" name="submit" value="Register" class="register-submit button success"
                       id="submit"/>

            </form>

            <p class="login-link">{% trans "or" %} <a href="{% url 'auth_login' %}?={{ request.path }}">{% trans "Login" %}</a></p>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_username').focus();
            $('#submit').one('click', function () {
                $('#registration_form').validate({
                    rules: {
                        username: {
                            required: true,
                            customvalidation: true
                        },
                        email: {
                            required: true
                        },
                        password1: {
                            required: true,
                            minlength: 6
                        },
                        password2: {
                            required: true,
                            minlength: 6,
                            equalTo: '#id_password1'
                        }

                    },
                    messages: {
                        username: {}
                    }
                });
                $.validator.addMethod("customvalidation",
                        function (value, element) {
                            return /^[A-Za-z\d=._+-]+$/.test(value);
                        },
                        "Only numbers letters . _ + - allowed"
                );
            });
        });
    </script>
{% endblock %}
