{% extends "base.html" %}
{% load i18n static %}

{% block title %}Features | Musetic{% endblock %}
{% block content %}
    <div class="features">
        <h3>Upcoming Features:</h3>
	    <ul>
            <li>Social Media Buttons for Creators</li>
            <li>Add Google-Plus Social Login (maybe)</li>
		    <li>Markdown capabilities for submission descriptions</li>
		    <li>Markdown capabilities for comments</li>
            <li>A custom 404 page</li>
            <li>Editing Comments</li>
            <li>Threaded Comments (Replies)</li>
		    <li>Comment Notifications</li>
            <li>Ordering Comments by New and Top (currently only Top)</li>
	    	<li>Display list of comments on the profile page</li>
		    <li>NSFW (Not Safe For Work) Tags</li>
		    <li>Other Notifications such as when one of your submissions reaches the front page</li>
		    <li>Infinite Scrolling Option</li>
            <li>Search capabilities</li>
            <li>A Private messaging system</li>

	    </ul>

        <p>If you think of any features you think would be cool on the site! Email Joshua Chandler at <a href="mailto:joshua@musetic.com">joshua@musetic.com</a></p>
	</div>
{% endblock %}
