{% extends "base.html" %}
{% load static i18n humanize submission_tags avatar_tags crispy_forms_tags markdown_deux_tags %}

{% block title %}{{ submission.title }} | Musetic{% endblock %}

{% block headersecondary %}
    <div class="header-secondary fixed">
        <div class="category-text">{{ submission.submission_type|capfirst }}</div>
        <a class="submission-title" href="{{ submission.url }}" target=_blank>{{ submission.title }}</a>
        {% if user.username == submission.user.username or user.is_staff %}
            <a class="submission-edit" href="{% url 'submission_edit' slug=submission.submission_type uuid=submission.uuid %}">Edit</a>
        {% elif user.is_authenticated %}
            <a href="{% url 'flag' slug=submission.submission_type uuid=submission.uuid %}" class="submission-report">Report</a>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar pushy-left">
        <ul class="categories">
            <li><a class="{% if '/art/' in request.path %}active{% endif %}" href="{% url 'category' slug='art' %}" data-toggle="tooltip" data-placement="bottom" title="Art"><i class="fa fa-paint-brush"></i></a></li>
            <li><a class="{% if '/design/' in request.path %}active{% endif %}" href="{% url 'category' slug='design' %}" data-toggle="tooltip" data-placement="bottom" title="Design"><i class="fa fa-desktop"></i></a></li>
            <li><a class="{% if '/imagery/' in request.path %}active{% endif %}" href="{% url 'category' slug='imagery' %}" data-toggle="tooltip" data-placement="bottom" title="Imagery"><i class="fa fa-camera"></i></a></li>
            <li><a class="{% if '/sound/' in request.path %}active{% endif %}" href="{% url 'category' slug='sound' %}" data-toggle="tooltip" data-placement="bottom" title="Sound"><i class="fa fa-headphones"></i></a></li>
            <li><a class="{% if '/video/' in request.path %}active{% endif %}" href="{% url 'category' slug='video' %}" data-toggle="tooltip" data-placement="bottom" title="Video"><i class="fa fa-video-camera"></i></a></li>
            <li><a class="{% if '/writing/' in request.path %}active{% endif %}" href="{% url 'category' slug='writing' %}" data-toggle="tooltip" data-placement="bottom" title="Writing"><i class="fa fa-pencil"></i></a></li>
        </ul>

    <div class="submissions-single-item">

            <div class="submissions-th">
                {% if submission.thumbnail %}
                    {% submission_image submission.url 500 %}
                {% endif %}
            </div>
            <div class="submissions-overlay"></div>
            <a class="submissions-title-area" rel="follow" href="{{ submission.url }}" target=_blank></a>

            <form method="post" action="{% url 'vote' %}" class="vote-form">
                {% csrf_token %}
                <input type="hidden" id="id_submission" name="submission" class="hidden_id"
                       value="{{ submission.id }}"/>
                <input type="hidden" id="id_voter" name="voter" class="hidden_id"
                       value="{{ user.id }}"/>
                {% if not user.is_authenticated %}
                    <button class="upvote-button vote-disabled" title="Login/Register to vote"><i
                            class="fa fa-2x fa-angle-up"></i></button>
                    <div class="num-votes vote-disabled">
                        {{ submission.votes }}
                    </div>
                {% elif submission.id not in voted %}
                    <button class="upvote-button unvoted"><i class="fa fa-2x fa-angle-up"></i></button>
                    <div class="num-votes unvoted">
                        {{ submission.votes }}
                    </div>
                {% else %}
                    <button class="upvote-button voted"><i class="fa fa-2x fa-angle-up"></i></button>
                    <div class="num-votes voted">
                        {{ submission.votes }}
                    </div>
                {% endif %}
            </form>
        </div>

        <div class="submission-time">Submitted: {{ submission.date_submitted|naturalday }}</div>

        <div class="profile-info">
            <div class="profile-pic-wrapper">
                <a href="{% url 'user_profile' username=submission.user.username %}"><img src="{% avatar_url submission.user.username 200 %}"/></a>
            </div>

            <div class="profile-score-wrap">
            <div class="submission-score" title="{% if user.profile.score == 1 %}{{ submission.profile_score }} Creator point{% else %}{{ submission.profile_score }} Creator points{% endif %}">{{ submission.profile_score }}
                <div class="submission-score-desc">Creator {% if submission.profile_score == 1 %}point{% else %}points{% endif %}</div></div>
            <div class="discussion-score" title="{% if submission.profile_discussion_score == 1 %}{{ submission.profile_discussion_score }} Comment point{% else %}{{ submission.profile_discussion_score }} Comment points{% endif %}">{{ submission.profile_discussion_score }}
                <div class="discussion-score-desc">Comment {% if submission.profile_discussion_score == 1 %}point{% else %}points{% endif %}</div></div>
        </div>

            <a class="profile-username" href="{% url 'user_profile' username=submission.user.username %}">{{ submission.user.username }}</a>
            <div class="profile-name">{{ submission.user.first_name }} {{ submission.user.last_name }}</div>
        </div>
    </div>

    <div class="footer">
    	<div class="footer-links">
			<a href="{% url 'about' %}">About&nbsp;</a>
            <a href="http://blog.musetic.com">Blog&nbsp;</a>
			<a href="{% url 'terms_of_use' %}">Terms&nbsp;</a>
			<a href="{% url 'privacy_policy' %}">Privacy&nbsp;</a>
		</div>
    	<div class="copy left">
			&copy; 2015 Musetic
		</div>
    </div>
{% endblock %}

{% block content %}
<div class="submissions-single">

    <div class="submission-content-wrap">

        <div class="description-wrapper clearfix">
            <div class="description">{{ submission.description|markdown }}</div>


            {% if not user.is_authenticated %}
                <a class="login-required button secondary" href="{% url 'auth_login' %}?next={{ request.path }}"><h4>Login/Register to Join the Discussion</h4></a>
            {% else %}
            <div class="discussion-container"></div>
            {% endif %}

        </div>
        <div class="discussion-count">{% if discussions.count == 1 %}{{ discussions.count }} Comment{% else %}{{ discussions.count }} Comments{% endif %}</div>


        <ol class="discussion">
        {% for discussion in discussions %}
            <li class="discussion-wrap">
                <div class="discussion-content">
                    <div class="disc-user-meta">
                        <form method="post" action="{% url 'discussion_vote' %}" class="discussion-vote-form">
                            {% csrf_token %}
                            <input type="hidden" id="id_discussion" name="discussion" class="hidden_id"
                                   value="{{ discussion.id }}"/>
                            <input type="hidden" id="id_voter" name="voter" class="hidden_id"
                                   value="{{ user.id }}"/>
                            {% if not user.is_authenticated %}
                                <button class="disc-upvote-button vote-disabled" title="Login/Register to vote"><i class="fa fa-lg fa-angle-up"></i></button>
                            {% elif discussion.id not in discussion_voted %}
                                <button class="disc-upvote-button unvoted"><i class="fa fa-lg fa-angle-up"></i></button>
                            {% else %}
                                <button class="disc-upvote-button voted"><i class="fa fa-lg fa-angle-up"></i></button>
                            {% endif %}
                        </form>
                        <a class="disc-user {% if discussion.user.username == submission.user.username %}disc-user-creator{% endif %}" href={% url 'user_profile' username=discussion.user.username %}>{{ discussion.user.username }}</a>
                        {% if discussion.user.is_staff %}<i class="admin">A</i>
                        {% elif discussion.user.creator.is_creator %}<i class="creator">C</i>
                            {% else %}
                        {% endif %}
                        &nbsp;<span class="disc-score">{{ discussion.votes }} {% if discussion.votes == 1 %}Point{% else %}Points{% endif %}</span>
                        &nbsp;<span class="disc-submitted"><i class="fa fa-clock-o"></i>&nbsp;{{ discussion.date_submitted|naturaltime }}</span>
                    </div>
                </div>
                <div class="comment-meta">
                    <div class="disc-comment">
                        {{ discussion.comment|markdown }}
                    </div>

                    <div class="comment-actions">
                        {% if user.is_authenticated %}
                            <a id="discussion_report" href="{% url 'discussion_flag' slug=submission.submission_type uuid=submission.uuid pk=discussion.pk %}" class="disc-report">Report</a>
                        {% endif %}
                        {% if discussion.user.username == user.username or user.is_staff %}
                            <a id="discussion_edit" href="{% url 'discussion_edit' slug=submission.submission_type uuid=submission.uuid pk=discussion.pk %}" class="disc-edit">Edit</a>

                            <a id="discussion_delete" href="{% url 'discussion_delete' slug=submission.submission_type uuid=submission.uuid pk=discussion.pk %}" class="disc-delete">Delete</a>
                        {% endif %}
                    </div>
                </div>

            </li>
        {% endfor %}
        </ol>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'musetic/js/vendor/modalEffects.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('#submit').one('click', function() {
            $('.discussion-form').validate({
                rules: {
                    comment: {
                        required: true
                    }
                }
            });
        });

        /** Ajax Loading */
        $('.submission-report-container').load("{% url 'flag' slug=submission.submission_type uuid=submission.uuid %}");
        $('.discussion-container').load("{% url 'discussion_form' slug=submission.submission_type uuid=submission.uuid %}");


        $('.vote-form').submit(function (e) {
            e.preventDefault();
            var btn = $("button", this);
            btn.attr('disabled', true);
            $.post("{% url 'vote' %}", $(this).serializeArray(),
                function (data) {
                    if (data["voteobj"]) {
                        btn.removeClass('unvoted');
                        btn.addClass('voted');
                    }
                });
            btn.attr('disabled', false);
        });

        $('.discussion-vote-form').submit(function (e) {
            e.preventDefault();
            var btn = $("button", this);
            btn.attr('disabled', true);
            $.post("{% url 'discussion_vote' %}", $(this).serializeArray(),
                function (data) {
                    if (data["voteobj"]) {
                        btn.removeClass('unvoted');
                        btn.addClass('voted');
                    }
                });
            btn.attr('disabled', false);
        });


    });
    </script>
{% endblock %}