{% extends "base.html" %}
{% load i18n static %}

{% block title %}Reset Password | Musetic{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'musetic/css/auth.css' %}">
{% endblock %}
{% block body %}<body class="auth-page">{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="login password-reset-form">
    <a href="{% url 'index' %}"><img class="musetic-logo" src="{% static 'musetic/img/hexagon-black-logo-100.png' %}" /></a>
    <h4>{% trans "We will send instructions for resetting your password" %}</h4>

    <form method="post" action=".">
        {% csrf_token %}
        <input id="id_email" maxlength="254" name="email" type="email" placeholder="Email Address"/>
        <input type="submit" class="button" value="{% trans 'Submit' %}" />
    </form>

</div>
{% endblock %}

{% block footer %}{% endblock %}
