form {
  margin: 0 0 10px;
}

/* Label Styles */
label {
  font-size: 0.875rem;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

label.right {
    float: none !important;
    text-align: right;
}
label.inline {
    margin: 0 0 1rem 0;
    padding: 0.5625rem 0;
}
label small {
    text-transform: capitalize;
    color: #676767;
}

select::-ms-expand {
  display: none;
}


/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    -webkit-appearance: none;
    background: #ffffff;
    font-family: inherit;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
    margin: 0 0 1rem 0;
    padding: 10px;
    height: 45px;
    width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
    box-shadow: none;
    border: none;
    background: #ffffff;
    outline: none;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="color"]:disabled,
textarea:disabled {
    background-color: #dddddd;
    cursor: default;
}

input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"],
input[type="password"][disabled],
input[type="password"][readonly], fieldset[disabled]
input[type="password"],
input[type="date"][disabled],
input[type="date"][readonly], fieldset[disabled]
input[type="date"],
input[type="datetime"][disabled],
input[type="datetime"][readonly], fieldset[disabled]
input[type="datetime"],
input[type="datetime-local"][disabled],
input[type="datetime-local"][readonly], fieldset[disabled]
input[type="datetime-local"],
input[type="month"][disabled],
input[type="month"][readonly], fieldset[disabled]
input[type="month"],
input[type="week"][disabled],
input[type="week"][readonly], fieldset[disabled]
input[type="week"],
input[type="email"][disabled],
input[type="email"][readonly], fieldset[disabled]
input[type="email"],
input[type="number"][disabled],
input[type="number"][readonly], fieldset[disabled]
input[type="number"],
input[type="search"][disabled],
input[type="search"][readonly], fieldset[disabled]
input[type="search"],
input[type="tel"][disabled],
input[type="tel"][readonly], fieldset[disabled]
input[type="tel"],
input[type="time"][disabled],
input[type="time"][readonly], fieldset[disabled]
input[type="time"],
input[type="url"][disabled],
input[type="url"][readonly], fieldset[disabled]
input[type="url"],
input[type="color"][disabled],
input[type="color"][readonly], fieldset[disabled]
input[type="color"],
textarea[disabled],
textarea[readonly], fieldset[disabled]
textarea {
    background-color: #dddddd;
    cursor: default;
}

input[type="text"].radius,
input[type="password"].radius,
input[type="date"].radius,
input[type="datetime"].radius,
input[type="datetime-local"].radius,
input[type="month"].radius,
input[type="week"].radius,
input[type="email"].radius,
input[type="number"].radius,
input[type="search"].radius,
input[type="tel"].radius,
input[type="time"].radius,
input[type="url"].radius,
input[type="color"].radius,
textarea.radius {
    border-radius: 3px;
}

input[type="submit"] {
    -webkit-appearance: none;
    margin: 0;
    -webkit-border-radius: 4px;
}

textarea[rows] {
    height: auto;
}

/* Add height value for select elements to match text input height */
select {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0;
    background-color: #fafafa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.3125rem;
}
select.radius {
    border-radius: 3px;
}
select:hover {
    background-color: #f3f3f3;
    border-color: #999999;
}
select:disabled {
    background-color: #dddddd;
    cursor: default;
}


/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
    margin: 0 0 1rem 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

/* Normalize file input width */
input[type="file"] {
    width: 100%;
}

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
    border: 1px solid #dddddd;
    padding: 1.25rem;
    margin: 1.125rem 0;
}
fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
}
